<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application >
        <activity
            android:label="@string/basic_label_bug_title"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:name="cn.zhg.basic.bug.BugReporterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
    </application>
</manifest>
